.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 6rem;
  color: whitesmoke;
  font-weight: 900;
  margin: 0;
}

.show-quote-and-author {
  display: none;
}
.showquote:hover .show-quote-and-author {
  display: block;
}
.showquote:hover .quote {
  display: none;
}

.proceed-button {
  display: block;
  align-items: center;
}

.onboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
